* {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: 1rem;
    margin: 0;
    scroll-behavior: smooth;
    text-shadow: 1px 1px 3px black;
}

header {
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: transparent;
}

.header {
    background-color: transparent;
}

.header * {
    color: white;
    text-decoration: solid;
    background-color: transparent;
}

.header p {
    padding: 0.5em;
    font-weight: bold;
}

#navbar {
    display: none;
}

.introContainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    max-width: 80vw;
    margin: 1em 0 1em 0;
}

h2 {
    font-size: 1.5em;
    max-width: 80vw;
}

a {
    text-decoration: none;
}

#logo {
    cursor: pointer;
}

.name{
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.job-title{
    width: 90%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 3em 0 3em 0;
    margin: auto;
    box-shadow: 0 0 600px 1px #BA55D3;
}

.content-container > div {
    max-width: 85vw;
    min-width: 85vw;
}

h3 {
    font-size: 1.5em;
    color: #BA55D3;
}

.welcome-container {

}

.welcome-container p {
    padding: 1em 0 1em 0;
}

#mypicture {
    padding: 3em 0 3em 0;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 150px;
}

.experiences {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.experience p:nth-child(even) {
    text-align: right;
}

.experience {
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1em 0 1em 0;
}

.experience > * {
    line-height: 2em;
}

.achievements {
    grid-column: span 2;
}

.achievements li {
    padding: 0.5em 0 0.5em 0;
}

.eduContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 1.5em;
}

.education {
}

.skills {
    line-height: 2em;
}

.skill {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill i {
    margin-right: 0.5em; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
    width: 1rem;
    height: 1rem;
}

.skill p:nth-child(even) {
    text-align: right;
}

.contant-me {
    text-align: left;
}

footer {
    padding: 3em 1em 1em 1em;
    font-size: 0.8em;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #FFF;
}

.skill p {
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5em;
}

.skill-bar span {
    display: block;
    height: 10px;
    background-color: #BA55D3;
    width: 80%; /* Change based on skill level */
    border-radius: 25px;
}

@keyframes blink {
    0%, 50% {
        border-right-color: white;
    }
    50%, 100% {
        border-right-color: transparent;
    }
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; /* Simulates the caret */
    font-family: inherit; /* Ensures font consistency */
}






